<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of selected candidates</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="text-center mb-4">List of selected candidates</h2>
      <div class="table-responsive">
        <form action="{% url 'send-emails' %}" method="post">
          {% csrf_token %}

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>GitHub Username</th>
                <th>Email Address</th>
                <th>Score</th>
                <th>Result</th>
              </tr>
            </thead>
            <tbody>
              {% for candidate in final_candidates %}
              <tr>
                <td>{{ candidate.user.full_name }}</td>
                <td>{{ candidate.user.github_username }}</td>
                <td>{{ candidate.user.email }}</td>
                <td>{{ candidate.average_score }}</td>
                <td>{{ candidate.status }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- make a butten send emails to candidates -->
          <a
            href="{% url 'select-features' %}"
            class="btn btn-secondary"
            style="top: 20px"
            >Back To Feature Selection</a
          >
          <div style="float: right">
            <!-- create submit button -->
            <button type="submit" class="btn btn-primary">Send emails</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
