<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Feature Selection</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h2 class="text-center mt-5 mb-4">Feature Selection</h2>
      {% if message %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endif %}
      <div class="row" style="margin-top: 60px">
        <div class="col-md-6">
          <form action="{% url 'select-features' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="language">Language</label>
              <select
                name="languages"
                id="languages"
                class="form-control"
                multiple
              >
                <option value="Python">Python</option>
                <option value="Ruby">Ruby</option>
                <option value="Java">Java</option>
                <option value="Sql">SQL</option>
              </select>
            </div>
            <div class="form-group">
              <label for="candidates">Number of Candidates</label>
              <input
                type="number"
                name="number_of_candidates"
                id="number_of_candidates"
                class="form-control"
              />
              <div style="margin-top: 30px; float: right">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
