<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body,
      html {
        height: 100%;
      }

      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="alert alert-success" role="alert">
          Thank you for submitting your answers! We will shortly inform you
          about the results.
        </div>
      </div>
    </div>
  </body>
</html>
